header.header
  a.inner-logo(href="#")
    span.inner-text-1 28
    span.inner-text-2 Admin
  .inner-wrap
    .inner-notification
      img(src="assets/images/header-icon.svg", alt="")
      span 6
    .inner-profile
      .inner-image
        img(src="assets/images/header-profile.svg", alt="")
      .inner-content
        .inner-name Le Van A
        .inner-role Admin