extends ../layouts/default.pug
include ../mixins/checkbox.pug

block title
  title Quản lý danh mục

block main
  .box-title Quản lý danh mục

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item
        <i class="fa-solid fa-filter"></i>
        | Bộ lọc
      .inner-item
        select(name="")
          option(value="") Trạng thái
      .inner-item
        select(name="")
          option(value="") Người tạo
      .inner-item
        input(type="date", name="")
        span -
        input(type="date", name="")
      .inner-item.inner-reset
        <i class="fa-solid fa-rotate-left"></i>
        | Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      form.inner-change-status
        select(name="")
          option(value="") -- Hành động --
        button Áp dụng
      form.inner-search
        button <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text", name="", placeholder="Tìm kiếm")
      a.inner-create(href="#") + Tạo mới
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th
              +checkbox-28("#check-all")
            th Tên danh mục
            th Ảnh đại diện
            th Vị trí
            th Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        tbody
          tr
            td
              +checkbox-28("#check-1")
            td Danh mục 1
            td
              img(src="assets/images/tour-1.png", alt="")
            td 1
            td
              .tag.tag-red Tạm dừng
            td
              div Lê Văn A
              .inner-time 16:30 - 20/10/2024
            td
              div Lê Văn A
              .inner-time 16:30 - 20/10/2024
            td
              .box-action
                a.inner-edit(href="#") <i class="fa-solid fa-pen-to-square"></i>
                a.inner-trash(href="#") <i class="fa-solid fa-trash-can"></i>
          tr
            td
              +checkbox-28("#check-2")
            td Danh mục 2
            td
              img(src="assets/images/tour-1.png", alt="")
            td 1
            td
              .tag.tag-green Hoạt động
            td
              div Lê Văn A
              .inner-time 16:30 - 20/10/2024
            td
              div Lê Văn A
              .inner-time 16:30 - 20/10/2024
            td
              .box-action
                a.inner-edit(href="#") <i class="fa-solid fa-pen-to-square"></i>
                a.inner-trash(href="#") <i class="fa-solid fa-trash-can"></i>
  //- End Section 6