extends ../layouts/default.pug

block title
  title Tạo danh mục

block main
  .box-title Tạo danh mục

  //- Section 7
  .section-7
    form.inner-form
      .inner-group
        label(for="", class="inner-label") Tên danh mục
        input(type="text", name="", class="inner-control")
      .inner-group
        label(for="", class="inner-label") Danh mục cha
        select(name="", class="inner-control")
          option(value="") -- Chọn danh mục --
          option(value="") category-1
          option(value="") category-2
          option(value="") category-3
      .inner-group
        label(for="", class="inner-label") Vị trí
        input(type="number", name="", class="inner-control")
      .inner-group
        label(for="", class="inner-label") Trạng thái
        select(name="", class="inner-control")
          option(value="") Hoạt động
      .inner-group.inner-two-col
        label(for="", class="inner-label") Ảnh đại diện
        input(type="file", name="", class="inner-control inner-input-file")
      .inner-group.inner-two-col
        label(for="", class="inner-label") Mô tả
        textarea(name="", class="inner-control")
      .inner-two-col.inner-button
        button Tạo mới
    a.inner-back(href="#") Quay lại danh sách
  //- End Section 7
