extends ../layouts/default.pug

block title
  title Tổng quan

block main
  .box-title Tổng quan

  //- Section 1
  .section-1
    .inner-item
      img(src="assets/images/section-1-icon-1.svg", alt="")
      .inner-content
        .inner-text-1 Người dùng
        .inner-text-2 1.200
    .inner-item
      img(src="assets/images/section-1-icon-2.svg", alt="")
      .inner-content
        .inner-text-1 Đơn hàng
        .inner-text-2 3.600
    .inner-item
      img(src="assets/images/section-1-icon-3.svg", alt="")
      .inner-content
        .inner-text-1 Doanh thu
        .inner-text-2 300.000.000đ
  //- End Section 1

  //- Section 2
  .section-2
    .inner-head
      .inner-title Biểu đồ doanh thu
      input.inner-input(type="month")
    .inner-chart
      | Vẽ biểu đồ ở đây...
  //- End Section 2

  //- Section 3
  .section-3
    .inner-title-main Đơn hàng mới
    .table-1
      table
        thead
          tr
            th Mã
            th Thông tin khách
            th Danh sách tour
            th Thanh toán
            th Trạng thái
            th.text-right Ngày đặt
        tbody
          tr
            td
              .text-main OD000001
            td
              div Họ tên: Lê Văn A
              div SĐT: 0123456789
              div Ghi chú: Test...
            td
              .tour-list
                .inner-item
                  img(src="assets/images/tour-1.png", alt="")
                  .inner-content
                    .inner-name Tour Hạ Long
                    .inner-price
                      div Người lớn: 3 x 1.500.000đ
                      div Trẻ em: 2 x 1.300.000đ
                      div Em bé: 2 x 1.000.000đ
                .inner-item
                  img(src="assets/images/tour-1.png", alt="")
                  .inner-content
                    .inner-name Tour Hạ Long
                    .inner-price
                      div Người lớn: 3 x 1.500.000đ
                      div Trẻ em: 2 x 1.300.000đ
                      div Em bé: 2 x 1.000.000đ
            td
              div Tổng tiền: 10.000.000đ
              div Giảm: 400.000đ
              div Mã giảm: TOURMUAHE2024
              div Thanh toán: 9.600.000đ
              div PTTT: Ví Momo
              div TTTT: Đã thanh toán
            td
              //- .tag.tag-orange Khởi tạo
              //- .tag.tag-green Đã duyệt
              .tag.tag-red Đã hủy
            td.text-right
              div 16:20
              div 01/01/2024
  //- End Section 3