extends ../layouts/default.pug

block title
  title Tổng quan

block main
  .box-title Tổng quan

  //- Section 1
  .section-1
    .inner-item
      img(src="assets/images/section-1-icon-1.svg", alt="")
      .inner-content
        .inner-text-1 Người dùng
        .inner-text-2 1.200
    .inner-item
      img(src="assets/images/section-1-icon-2.svg", alt="")
      .inner-content
        .inner-text-1 Đơn hàng
        .inner-text-2 3.600
    .inner-item
      img(src="assets/images/section-1-icon-3.svg", alt="")
      .inner-content
        .inner-text-1 Doanh thu
        .inner-text-2 300.000.000đ
  //- End Section 1