extends ../layouts/default.pug

block title
  title 404 Not Found

block main
  //- Section 10
  .section-10
    img(src="assets/images/404-not-found.svg", alt="")
    .inner-text Trang này không tồn tại...
    button.inner-button Trở về trang tổng quan
  //- End Section 10
