extend ../layouts/account.pug
include ../mixins/checkbox.pug
include ../mixins/inner-group-account.pug

block title
  title Quên mật khẩu

block main
  .inner-title Quên mật khẩu
  .inner-desc Vui lòng nhập email để tiếp tục
  form
    +inner-group("text", "email", "Email", "Ví dụ: levana@gmail.com")
    button.inner-button Gửi mã OTP
  .inner-more
    span Bạn đã nhớ mật khẩu?
    a.inner-link(href="#") Đăng nhập