extend ../layouts/account.pug
include ../mixins/checkbox.pug
include ../mixins/inner-group-account.pug

block title
  title Nhập mã OTP

block main
  .inner-title Nhập mã OTP
  .inner-desc Vui lòng nhập mã OTP để tiếp tục
  form
    +inner-group("number", "otp", "Mã OTP", "Ví dụ: 123456")
    button.inner-button Xác thực
  .inner-more
    span Bạn đã nhớ mật khẩu?
    a.inner-link(href="#") Đăng nhập