extends ../layouts/default.pug

block title
  title Đổi mật khẩu

block main
  .box-title Đổi mật khẩu

  //- Section 7
  .section-7
    form.inner-form
      .inner-group
        label(for="", class="inner-label") Mật khẩu mới
        input(type="password", name="", class="inner-control")
      .inner-group
        label(for="", class="inner-label") Nhập lại mật khẩu mới
        input(type="password", name="", class="inner-control")
      .inner-two-col.inner-button
        button Đổi mật khẩu
    a.inner-back(href="#") Thông tin cá nhân
  //- End Section 7
