extend ../layouts/account.pug
include ../mixins/checkbox.pug
include ../mixins/inner-group-account.pug

block title
  title Đăng ký

block main
  .inner-title Đăng ký
  .inner-desc Tạo một tài khoản để tiếp tục
  form
    +inner-group("text", "fullName", "Họ tên", "Ví dụ: Lê Văn A")
    +inner-group("text", "email", "Email", "Ví dụ: levana@gmail.com")
    +inner-group("password", "password", "Mật khẩu", "")
    .inner-meta
      +checkbox-28("agree", "Tôi chấp nhận các điều khoản và điều kiện")
    button.inner-button Đăng Ký
  .inner-more
    span Bạn đã có tài khoản?
    a.inner-link(href="#") Đăng nhập