extend ../layouts/account.pug
include ../mixins/checkbox.pug
include ../mixins/inner-group-account.pug

block title
  title Đổi mật khẩu

block main
  .inner-title Đổi mật khẩu
  .inner-desc Vui lòng nhập mật khẩu để tiếp tục
  form
    +inner-group("password", "password", "Mật khẩu mới", "")
    +inner-group("password", "confirmPassword", "Xác nhận mật khẩu", "")
    button.inner-button Thay đổi
  .inner-more
    span Bạn đã nhớ mật khẩu?
    a.inner-link(href="#") Đăng nhập