extends ../layouts/default.pug
include ../mixins/checkbox.pug
include ../mixins/box-pagination.pug

block title
  title Nhóm quyền

block main
  .box-title Nhóm quyền

  //- Section 5
  .section-5
    .inner-wrap
      form.inner-change-status
        select(name="")
          option(value="") -- Hành động --
        button Áp dụng
      form.inner-search
        button <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text", name="", placeholder="Tìm kiếm")
      a.inner-create(href="#") + Tạo mới
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th
              +checkbox-28("#check-all")
            th Tên nhóm quyền
            th Mô tả ngắn
            th Hành động
        tbody
          tr
            td
              +checkbox-28("#check-1")
            td Quản trị viên
            td Có đầy đủ các quyền
            td
              .box-action
                a.inner-edit(href="#") <i class="fa-solid fa-pen-to-square"></i>
                a.inner-trash(href="#") <i class="fa-solid fa-trash-can"></i>
          tr
            td
              +checkbox-28("#check-2")
            td Quản lý tour
            td Có đầy đủ quyền liên quan đến tour
            td
              .box-action
                a.inner-edit(href="#") <i class="fa-solid fa-pen-to-square"></i>
                a.inner-trash(href="#") <i class="fa-solid fa-trash-can"></i>
          tr
            td
              +checkbox-28("#check-3")
            td Quản lý đơn hàng
            td Có đầy đủ quyền liên quan đến đơn hàng
            td
              .box-action
                a.inner-edit(href="#") <i class="fa-solid fa-pen-to-square"></i>
                a.inner-trash(href="#") <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Box Pagination
  +box-pagination()
  //- Box Pagination